{% extends "base.html" %}
{% block content %}
    <div style="border:5px solid #666; padding:15px;text-align:center;">
        <h1>Записи на сегодняшний день</h1>
        <a href="/">
            <div class="button green" style="display:inline-block; width:135px;height:45px;vertical-align: middle;">
                <div style="vertical-align: middle;text-align:center;font-size:30px;margin-top:15px;">
                    Выход
                </div>
            </div>
        </a>
    </div>
{% endblock %}