<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>очереди-нет.рф</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.keyboard.js"></script>
    <script src="/static/js/layouts/russian.js"></script>
    <link type="text/css" href="/static/css/style.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/keyboard.css" rel="stylesheet" />
    <script>
        $(function(){
            //$('.ui-keyboard-input').keyboard({layout:'russian-qwerty'});
        });
    </script>
    {% block header %}{% endblock %}
</head>

<body>
    <div class="base">
    {% block content %}
    {% endblock %}
    </div>
    <nav>
        <ul class="nav">
            <li><a href="/" class="icon-home"></a></li>
            <li><a href="/login/" class="icon-location"></a></li>
        </ul>
    </nav>
</body>
</html>
