<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>очереди-нет.рф</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.keyboard.js"></script>
    <script src="/static/js/layouts/russian.js"></script>
    <link type="text/css" href="/static/css/style.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/keyboard.css" rel="stylesheet" />
    <script>
        $(function(){
            //$('.ui-keyboard-input').keyboard({layout:'russian-qwerty'});
        });
    </script>
</head>

<body>
    <div class="base">
        <div style="border:5px solid #666; padding:15px;text-align:center;">
            {% for item in company.get_ancestors %}
                <a href="/company/{{ item.id }}">{{ item.title }}</a> >
            {% endfor %}
            {{ company.title }}
            <hr />
            {% for item in company.get_descendants %}
            <div style="display:inline-block;vertical-align: top;">
                <a href="/company/{{ item.id }}" style="text-decoration:none">
                <div class="button white" style="display:table;">
                    {% if item.logo %}
                    <div style="display:table-cell;vertical-align: middle;padding-right:15px;">
                        <img src="/media/{{ item.logo }}" />
                    </div>
                    {% endif %}
                    <div style="display:table-cell;vertical-align: middle;text-align:left;">
                        {{ item.title }}
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <br ><br clear="all" />
        <div style="border:5px solid #666; padding:15px;text-align:center;">
            {% for service in services.0.get_ancestors %}
                <a href="/services/{{ company.id }}/{{ service.id }}" style="text-decoration:none">
                    <div class="button green" style="display:table;">
                        {% if service.icon %}
                        <div style="display:table-cell;vertical-align: middle;padding-right:15px;">
                            <img src="/media/{{ service.icon }}" />
                        </div>
                        {% endif %}
                        <div style="display:table-cell;vertical-align: middle;text-align:left;">
                            {{ service.title }}
                        </div>
                    </div>
                </a>
                {% if not forloop.last %}>{% endif %}
            {% endfor %}
            {% for service in services %}
            <div style="display:inline-block;vertical-align: top;">
                <a href="/services/{{ company.id }}/{{ service.id }}" style="text-decoration:none">
                <div class="button orange" style="display:table;">
                    {% if service.icon %}
                    <div style="display:table-cell;vertical-align: middle;padding-right:15px;">
                        <img src="/media/{{ service.icon }}" />
                    </div>
                    {% endif %}
                    <div style="display:table-cell;vertical-align: middle;text-align:left;">
                        {{ service.title }}
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <br ><br clear="all" />
        <div style="border:5px solid #666; padding:15px;text-align:center;">
            {% for param in params %}
            <fieldset>
            <legend>{{ param.field_title }}</legend>
            <input type="text" style="width:80%;height:40px;font-size:19pt;font-weight:bold;" class="ui-keyboard-input ui-widget-content ui-corner-all" />
            <br />
            <p style="fon-size:small; color:#444;">
            {{ param.field_description }}
            </p>
            </fieldset>
            {% endfor %}
        </div>
        <br ><br clear="all" />
        <div style="border:5px solid #666; padding:15px;text-align:center;">
            <input type="button" onclick="alert(window.parent.ext_test())" value="Test hta call" />
        </div>
    </div>
</body>
</html>

