{% extends "base.html" %}
{% block content %}
<div class="success_block content">
    <h1>Вы успешно записаны на прием!</h1>
    <div class="success_request">
        <p>
            <label>Ваш номер очереди:</label><span>{{ visit_request.pk }}</span>
        </p>
        <p>
            <label>Ваш логин:</label><span>{{ visit_request.visitor.user.username }}</span>
        </p>
        {% if not post.password %}
        <p>
            <label>Ваш пароль:</label><span>{{ password }}</span>
        </p>
        {% endif %}
    </div>
    <a href="/">
    <div class="button green" style="display:inline-block; width:135px;height:45px;vertical-align: middle;">
        <div style="vertical-align: middle;text-align:center;font-size:30px;margin-top:15px;">
            Выход
        </div>
    </div>
    </a>
</div>
{% endblock %}